<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Inbox</h5>

                </div>
                <div class="card-body" style="min-height: 452px;">
                    <div class="header" style="display: flex; margin-bottom: -8px;">
                        <input type="image" src="/images/default-avatar.png" alt="Submit" width="48" height="48"
                            style="border-radius: 50%; border:#000 2px solid">
                        <div class="name ml-3">
                            <h6 style="margin-top: 5px; margin-bottam: 5px;">{{viewContacts.fname}}
                                {{viewContacts.lname}}</h6>
                            <p style="margin-top: -3px;">{{viewContacts.email}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="message">
                        <p style="margin: 45px;">
                            {{viewContacts.message}}
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>