<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">About Us</h5>

        </div>
        <div class="card-body">
            <div class="container">
            <div class="row mb-4">
                <div class="col-md-3">
                    <img src="/images/logo.png" class="u-logo-image about-logo" >
                </div>
                <div class="col-md-9">{{about.about}}</div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>