<link rel="stylesheet" href="css/style.css" media="screen">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<div class="main" style="margin-top: 5rem;">
<section class="u-clearfix u-expand-resize u-image u-section-1" id="carousel_5d56">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div
                        class="u-align-left u-container-style u-layout-cell u-left-cell u-similar-fill u-size-27-xl u-size-33-lg u-size-35-md u-size-35-sm u-size-35-xs u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                            <h6 class="u-text u-text-palette-1-dark-3 u-text-1" style="margin-top: 69px; color: #fff !important;">
                                best social media booster</h6>
                            <h1 class="u-text u-text-palette-3-base u-title u-text-2">let us boost</h1>
                            <div class="container">
                                <div class="d-flex justify-content-center h-100">
                                    <div class="card1">
                                        <div class="card-header">
                                            <h3>Sign In</h3>
                                            <div class="d-flex justify-content-end social_icon">
                                                <span><i class="fab fa-facebook-square"></i></span>
                                                <span><i class="fab fa-google-plus-square"></i></span>
                                                <span><i class="fab fa-twitter-square"></i></span>
                                            </div>
                                        </div>
                                        <div class="card-body" style="margin-bottom: 35px;">
                                            <form id="login-form">
                                                <div class="input-group form-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="fas fa-user"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="username" name="username">

                                                </div>
                                                <div class="input-group form-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                                    </div>
                                                    <input type="password" class="form-control" placeholder="password" name="password">
                                                </div>
                                                <div class="row align-items-center remember">
                                                    <input type="checkbox">Remember Me
                                                </div>
                                                <div class="form-group">
                                                    <input type="submit" value="Login"
                                                        class="btn float-right login_btn">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="card-footer">
                                            <div class="d-flex justify-content-center links">
                                                Don't have an account?<a href="/signup">Sign Up</a>
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <a href="#">Forgot your password?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="u-align-center u-container-style u-expand-resize u-layout-cell u-right-cell u-similar-fill u-size-25-md u-size-25-sm u-size-25-xs u-size-27-lg u-size-33-xl u-layout-cell-2">
                        <div class="u-container-layout u-valign-middle u-container-layout-2">
                            <img class="u-image u-image-contain u-image-1" src="images/f.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>