<footer class="text-center bg-dark text-light pt-4 pb-4" id="sec-1542">
    <div class="">
      <div class="container">


        <div class="row">
          <div class="col-12">
            <div>
              <p>

                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved by <a href="#"
                  target="_blank">Marp cretions</a>

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    </div>
  </footer>