<header>
        <nav>
            <div class="navbar-main">
                <a href="/">
            <img class="logo-main" src="/images/logo.png" alt="logo" width="150px">

                </a>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/guest/about">About</a></li>
                <li><a href="/#services">Sarvice</a></li>
                <li><a href="/guest/contact">Contact us</a></li>
            </ul>
            </div>
        </nav>
</header>
<div style="margin-top: 5rem;">